#pagehr{
    color: white;
}

#tg{
    color: green;
}

.br1{
    background-color: #99AAFF ;
}

#tb{
 color: blue;
}

#to{
 color: orange;
}

.yellowbr{
 background-color: yellow;

}

.rt{
    color:red;
}

#ytgbr{
    color: yellow;
     background-color: green;
}

.brg{
    background-color: #90EE90;
}
