#wrapper {
    width: 1200px;
    display: grid;
    margin: 1em auto;
    padding: 0px;
    background-image: url(Tile5.png);
      background-repeat: repeat;
      background-size: 480px;
    grid-template-columns: (12, 1fr);
    border: #1c0f8d solid 5px;
}

header {
    background-image: linear-gradient(to bottom, rgb(15, 15, 15), #2729c4);
    grid-column: span 12;
    height: 147px;
    padding-top: 33px;
}

header h1 {
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: lighter;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;

    text-align: center;
    font-size: 55px;
}

header a {
    text-decoration: none;
    color: rgb(52, 146, 115);

}

nav {
    grid-column: span 12;
    background-image: linear-gradient(to bottom, #2729c4, rgb(15, 15, 15));
    padding-bottom: 0px;
    border-bottom: #1c0f8d solid 5px;
    padding-top: 30px;
    padding-bottom: 5px;
}

#navp{
    color: white;
        padding-left: 80px;
    padding-right: 80px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 13px;
    margin-right: 15px;
}

nav li {
    display: inline-block;
    padding: 0px;
    width: 290px;
    height: 50px;
    font-size: 25px;
}

nav li a {
    background-image: linear-gradient(to left, #4244ca, #2729c4, rgb(15, 15, 15));
    color: rgb(52, 146, 115);
    text-decoration: none;
    border: solid white 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    text-align: center;

    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: lighter;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

#Projectpage {
    padding-left: 80px;
    padding-right: 80px;
}

#Peoplepage {
    padding-left: 95px;
    padding-right: 95px;
}

#Gallerypage {
    padding-left: 87px;
    padding-right: 88px;
}

#Shoppage {
    padding-left: 115px;
    padding-right: 115px;
}

#pic1 {
    height: 100px;
}

main {
    text-align: justify;
    grid-column: span 12;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    height:400px;
    background-color: rgb(15, 15, 15);
}

main h2 {
    
    border-bottom: rgb(52, 146, 115) solid 3px;
    text-align: center;
    color: rgb(52, 146, 115);

    

    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: lighter;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

main p {
    text-align: justify;
    color: rgb(52, 146, 115);
    font-size: 20px;
    padding: 10px;
    border: solid white 1px;
    background-color:#1c0f8d;

    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: lighter;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.mainp{
    text-align: justify;
}

.projectp{
    border: solid white 1px;
    margin:10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;

}

#i1{
    float: left;
    width: 575px;
    border: solid white 1px;
    margin-right: 10px;
}

#float {
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;
    border: solid rgb(0, 0, 0);
    width: 200px;
}

aside {
    grid-column: span 12;
    width: 1200px;
    background-color: rgb(15, 15, 15);
}

.asidem{
border-bottom:#1c0f8d solid 5px;

}

section{
grid-column: span 6;
}

section h3{
    font-size: lighter;
    color: rgb(52, 146, 115);
    background-color: rgb(15, 15, 15);

    border-bottom: rgb(52, 146, 115) solid 3px;
    text-align: center;

    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: lighter;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

footer {
    background-color: rgb(15, 15, 15);
    color: rgb(52, 146, 115);
    grid-column: span 12;
    text-align: center;
    font-size: 15px;
    border-top: 5px solid #1c0f8d;

    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: lighter;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;

}